.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-weight: 600;
  }
  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #ece6ed;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  &__input.has-focus {
    background-color: #00000030;
  }
  &__input .native-input {
    padding: 12px;
  }
}
.checkbox {
  padding: 0;
}
.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.vertical-center {
  .fixed-content,
  .scroll-content {
      display: flex;
      align-items: center;

      ion-list {
          max-width: 300px; 
          width:100%; 
          margin: auto; 
          text-align: center;
      }
  }
}
.height-standard{
  height: 54px;
}
.a-center {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 16px;
}