.header_col{
    display: flex;
    align-items: center;
}

.action-sheet-button-inner{
    color: black;
}
.action-sheet-selected .action-sheet-button-inner{
    color: blue;
}
.folder ion-label{
    background-color: yellow;
}
.back_button{
    color: black;
}